body {
    height: 100vh;
}


.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.collect {
display: flex;
flex-direction: column;
}

.collect input {
    margin: 20px;
}


.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display {
    height: 360px;
    width: 300px;
    border: 2px solid blue;
}


.display-box {
    height: 50px;
    width: 300px;
    border: 2px solid orange;
}